.fa-fist-raised {
    color: red;
}

.fa-heartbeat {
    color: red;
}

.fa-scroll {
    color: skyblue;
}

.fa-hat-wizard {
    color: skyblue;
}

.fa-bolt {
    color: green;
}

.fa-dice-d20 {
    color: green;
}