@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
    }

html,
body {
    font-family: "Lucida Console", Monaco, monospace;
    height: 100%;
    margin: 0;
}

#main-container {
	height: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
}

#exp-zone {
    font-family: 'Luminari';
    height:50px;
    border-bottom: 3px solid black;
    margin-bottom: .5em;
    font-size: xx-large;
}

#exp-title {
    margin-right: 3em;
    margin-left: 5em;
}

#primary-zone {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: row;
}

.no {
    cursor: not-allowed;
}

.yes {
    cursor: pointer;
}

.fa-fist-raised {
    color: red;
}

.fa-heartbeat {
    color: red;
}

.fa-scroll {
    color: skyblue;
}

.fa-hat-wizard {
    color: skyblue;
}

.fa-bolt {
    color: green;
}

.fa-dice-d20 {
    color: green;
}

.center-zone {
    flex-grow: 1;
    height: 100%;
    display: flex;
	flex-direction: column;
}

#active-quest-zone {
    background-color: lightgrey;
    height: 250px;
}

#collection-zone {
    margin-left: .5em;
    margin-right: .5em;
}

.collection-box {
    height: 32px;
    width: 32px;
    border: 2px black solid;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    margin-right: .5em;
}

.collection-box svg {
    border-radius: 0px;
}

.smol-img {
    height: 32px;
    width: 32px;
}

.questing {
    width: 90%;
    background-color: white;
    height: 30px;
    line-height: 30px;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 2px solid brown;
    visibility: hidden;
}

.display {
    position:absolute;
    z-index: 2;
}

.display .fa-clock {
    margin-left: 10px;
}

.quest-progress {
    background-color: brown;
    z-index: 1;
    height:30px;
    position: absolute;
}

#message-zone {
    overflow: auto;
    height: 100%;
    background-color: darkorange;
    display: flex;
    flex-direction: column-reverse;
}

#messages {
    margin-top: auto;
}

.message {
    height: 40px;
    width: 100%;
    margin-top: 0;
}

.yes {
    animation:blinking 1.5s infinite;
}
@keyframes blinking{
    0%{     opacity: 100%;    }
    50%{    opacity: 75%; }
    100%{     opacity: 100%;    }
}

.yes:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }