#left-panel {
    width:480px;
    height: 100%;
}

#left-panel-select {
    height: 25px;
}

.left-panel-select-option {
    width:100px;
    display:inline-block;
    text-align: center;
    background-color: lightgreen;
    border-radius: 10px 10px 0 0;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.left-panel-select-option.selected {
    background-color : black;
    color: white;
}

#no-selected-quest-panel {
    display: none;
    padding: 10px;
    font-family: 'Luminari';
    line-height: 85px;
    font-size: xx-large;
    text-align: center;
}

#selected-quest-panel {
    display: none;
    padding: 10px;
    border: 3px solid black;
}

#selected-quest-svg {
    float: left;
    border-radius: 5px;
}

#selected-quest-image {
    width: 100px;
    height: 100px;
}

#selected-quest-title {
    font-family: 'Luminari';
    padding-left: 1em;
    line-height: 85px;
    font-size: xx-large;
    vertical-align: center;
}

#deselect-quest {
    float: right;
    cursor: pointer;
}

.half-left-bar {
    width:220px;
    display:inline-block;
}

.selected-quest-stat {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
}

.selected-quest-challenge i {
    padding-left: .2em;
    padding-right: .2em;
}

#init-selected-quest {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 15px;
    border: 2px brown solid;
    background-color: brown;
    color: white;
    text-align: center;
    cursor: pointer;
    text-align: center;
    width: 250px;
}

.selected-quest-title-zone {
    display: inline-block;
    height: 100px;
    width: 300px;
}

#loot-label {
    float: left;
    line-height: 32px;
    margin-right: .5rem;
}

#spider-cave-map-loot {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    
}

#spider-cave-map-svg {
    border: 2px #9b9b9b solid;
    border-radius: 5px;
}

.loot-icon {
    border-radius: 5px;
    height: 32px;
    width: 32px;
}

.uncommon-loot {
    border: 2px #7ED321 solid;
}

.rare-loot {
    border: 2px #48BAFF solid;
}

.epic-loot {
    border: 2px #9013FE solid;
}

.legendary-loot {
    border: 2px #F5A623 solid;
}

#map-panel {
    display: none;
    padding: 10px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
}

.map-image {
    height: 50px;
    width: 50px;
}

#map-rat-den {
    cursor: pointer;
    border-radius: 5px;
}

#map-panel table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

#map-panel td {
    padding: 0;
}

#map-panel td svg {
    display: block;
}

.top-left {
    border-radius: 5px 0px 0px 0px;
}

.top-right {
    border-radius: 0px 5px 0px 0px;
}

.bottom-left {
    border-radius: 0px 0px 0px 5px;
}

.bottom-right {
    border-radius: 0px 0px 5px 0px;
}

#map-spider-cave .top-left {
    border-top: 1px #9b9b9b solid;
    border-left: 1px #9b9b9b solid;
}

#map-spider-cave .top-right {
    border-top: 1px #9b9b9b solid;
    border-right: 1px #9b9b9b solid;
}

#map-spider-cave .bottom-left {
    border-bottom: 1px #9b9b9b solid;
    border-left: 1px #9b9b9b solid;
}

#map-spider-cave .bottom-right {
    border-bottom: 1px #9b9b9b solid;
    border-right: 1px #9b9b9b solid;
}

#items-panel {
    display: none;
    padding: 10px;
    height: 100px;
    border: 3px solid black;
}

.items-item {
    display: none;
    vertical-align: middle;
    width: 31%;
    padding-bottom: .5rem;
}

.item-amount {
    line-height: 39px;
    vertical-align: top;
    font-family: 'Luminari';
    font-size: x-large;
    margin-left: .5rem;
}