#right-panel {
    width:360px;
    height: 100%;
}

.half-right-panel {
    width:160px;
    display:inline-block;
}

.classname {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.center {
    text-align: center;
}

.level-up {
    height: 3em;
    width: 250px;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    border: 2px black solid;
    text-align:center;
    cursor:pointer;
}

.level-up.no {
    background-color: lightgrey;
    cursor: not-allowed;
}

.level-up span {
    line-height: 1.5em;
}

#warrior-level-up {
    background-color: red;
    color: white;
}

#caster-level-up {
    background-color: skyblue;
    color: white;
}

#rogue-level-up {
    background-color: green;
    color: white;
}

.left-stat-column {
    width: 160px;
    display:inline-block;
}

.icon {
    padding-left:.5em;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.stat {
    display: inline-block;
    line-height: 32px;
    width: 120px;
}

#character-warrior {
    border-bottom: 3px dashed red;
    border-top: 3px dashed red;
    border-left: 3px dashed red;
    margin-bottom: 1em;
}

#character-caster {
    border-bottom: 3px dashed skyblue;
    border-top: 3px dashed skyblue;
    border-left: 3px dashed skyblue;
    margin-bottom: 1em;
}

#character-rogue {
    border-bottom: 3px dashed green;
    border-top: 3px dashed green;
    border-left: 3px dashed green;
    margin-bottom: 1em;
}