#right-panel {
    width:360px;
    height: 100%;
}

#right-panel-select {
    height: 25px;
}

.right-panel-select-option {
    width: 100px;
    display: inline-block;
    text-align: center;
    background-color: bisque;
    border-radius: 10px 10px 0 0;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

.right-panel-select-option.selected {
    background-color : black;
    color: white;
}

.half-right-panel {
    width:160px;
    display:inline-block;
}

.classname {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.center {
    text-align: center;
}

.level-up {
    height: 3em;
    width: 250px;
    margin: auto;
    border-radius: 15px 15px 15px 15px;
    border: 2px black solid;
    text-align:center;
    cursor:pointer;
}

.level-up.no {
    background-color: lightgrey !important;
    cursor: not-allowed !important;
}

.level-up span {
    line-height: 1.5em;
}

#warrior-level-up {
    background-color: red;
    color: white;
}

#caster-level-up {
    background-color: skyblue;
    color: white;
}

#rogue-level-up {
    background-color: green;
    color: white;
}

.left-stat-column {
    width: 160px;
    display:inline-block;
}

.icon {
    padding-left:.5em;
    display: inline-block;
    width: 20px;
    text-align: center;
}

.stat {
    display: inline-block;
    line-height: 32px;
    width: 120px;
}

#character-warrior {
    border-bottom: 3px dashed red;
    border-top: 3px dashed red;
    border-left: 3px dashed red;
    margin-bottom: 1em;
}

#character-caster {
    border-bottom: 3px dashed skyblue;
    border-top: 3px dashed skyblue;
    border-left: 3px dashed skyblue;
    margin-bottom: 1em;
}

#character-rogue {
    border-bottom: 3px dashed green;
    border-top: 3px dashed green;
    border-left: 3px dashed green;
    margin-bottom: 1em;
}

#items-panel {
    display: none;
    padding: 10px;
    height: 100px;
    border: 3px solid black;
}

.items-item {
    display: none;
    vertical-align: middle;
    width: 48%;
    padding-bottom: .5rem;
}

.item-amount {
    line-height: 39px;
    vertical-align: top;
    font-family: 'Luminari';
    font-size: x-large;
    margin-left: .5rem;
}

.item-max {
    line-height: 39px;
    vertical-align: top;
    font-family: 'Luminari';
    font-size: x-large;
}

#gear-panel {
    display: none;
}

#gear-warrior {
    border-bottom: 3px dashed red;
    border-top: 3px dashed red;
    border-left: 3px dashed red;
    margin-bottom: 16px;
    font-size: 0;
}

#gear-caster {
    border-bottom: 3px dashed skyblue;
    border-top: 3px dashed skyblue;
    border-left: 3px dashed skyblue;
    margin-bottom: 16px;
    font-size: 0;
}

#gear-rogue {
    border-bottom: 3px dashed green;
    border-top: 3px dashed green;
    border-left: 3px dashed green;
    margin-bottom: 16px;
    font-size: 0;
}

.gear-icon {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

.gear-name {
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    font-size: medium;
}

.gear-piece {
    cursor: pointer;
    width: 178px;
    display: inline-block;
    text-align: center;
}