@media only screen and (max-width: 600px) {
    .small-title {
        margin-top: 25vh;
        text-align: center;
    }
    .large-title {
        display: none;
    }
    .bars-top {
        margin: 1em 0;
    }
}

@media only screen and (min-width: 601px) {
    .large-title {
        margin-top: 15vh;
    }
    .small-title {
        display: none;
    }
    .fa-background {
        display: none;
    }
}

main.container {
    padding-top: 56px;
}

.fa-background {
    font-size: 100vw;
    position: absolute;
    top: 20vh;
    color: grey;
    opacity: .2;
}

.bar {
    width: 90%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    margin-bottom: 3em;
    border: 2px solid brown;
    border-radius: 5px;
    box-sizing: content-box;
}

.bar-progress {
    background-color: brown;
    z-index: 1;
    height:30px;
    position: absolute;
    box-sizing: content-box;
}

.diagnostic {
    margin-top: 8px;
}

.diag-child {
    display: none;
}

.bar-label {
    text-align: center;
    margin-bottom: .5em;
}

.time-input {
    width: 2em;
}

.times-input {
    width: 4em;
}