.skill-detail-pane {
    background-color: darkseagreen;
    display: none;
    width: 100%;
    height: 25vh;
    position: fixed;
    bottom: 0px;
    left: 50%;
    width: 480px;
    border-top: .25rem solid darkgreen;
    border-left: .25rem solid darkgreen;
    border-right: .25rem solid darkgreen;
    transform: translateX(-50%);
}

.skill {
    display: block;
}

.tier {
    text-align: center;
}



.empty-node-box {
    display: inline-block;
    margin: 0 1em;
}

.node-box {
    display: inline-block;
}

.skill-detail-img {
    height: 3em;
    border-radius: .5em;
}

.skill-detail {
    display: none;
    margin: 6px;
}

.skill-pane-close:before {
  content: '✕';
}
.skill-pane-close {
  position: absolute;
  top: .5em;
  right: 1em;
  cursor: pointer;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .skill {
        width: 5em;
        margin: 0 1em;
        border-radius: .5em;
    }
    .empty-node-box {
        height: 5em;
        width: 5em;
    }
    .node-box {
        width: 7em;
        height: 5em;
    }
    .tier {
        height: 5em;
    }
    .skill-detail-pane {
        max-width: 100%;
        left: 0px;
        border-left: none;
        border-right: none;
        transform: none;
        width: 100%;
    }
    .skill-pane-close {
        top: 5px;
        right: 15px;
    }
}

@media only screen and (min-width: 601px) {
    .skill {
        width: 8em;
        margin: 0 1em;
        border-radius: .5em;
    }
    .empty-node-box {
        height: 8em;
        width: 8em;
    }
    .node-box {
        width: 10em;
        height: 8em;
    }
    .tier {
        height: 8em;
    }
}