:root {
    --prereq-bar-size: 1em;
    --large-node: 8em;
}

.skill-detail-pane {
    background-color: darkseagreen;
    display: none;
    width: 100%;
    height: 25vh;
    position: fixed;
    bottom: 0px;
    left: 50%;
    width: 480px;
    border-top: .25rem solid darkgreen;
    border-left: .25rem solid darkgreen;
    border-right: .25rem solid darkgreen;
    transform: translateX(-50%);
}

.skill {
    display: block;
}

.tier {
    text-align: center;
}



.empty-node-box {
    display: inline-block;
    margin: 0 1em;
}

.node-box {
    display: inline-block;
    position: relative;
}

.skill-detail-img {
    height: 3em;
    border-radius: .5em;
}

.skill-detail {
    display: none;
    margin: 6px;
}

.skill-pane-close:before {
  content: '✕';
}
.skill-pane-close {
  position: absolute;
  top: .5em;
  right: 1em;
  cursor: pointer;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .skill {
        width: 5em;
        margin: 0 1em;
        border-radius: .5em;
    }
    .empty-node-box {
        height: 5em;
        width: 5em;
    }
    .node-box {
        width: 7em;
        height: 5em;
    }
    .tier {
        height: 5em;
        margin-bottom: 3em;
    }
    .skill-detail-pane {
        max-width: 100%;
        left: 0px;
        border-left: none;
        border-right: none;
        transform: none;
        width: 100%;
    }
    .skill-pane-close {
        top: 5px;
        right: 15px;
    }
    .angled-left-one {
        width: calc(var(--prereq-bar-size) / 2);
        left: 9em;
        height: 1.75em;
        top: -3em;
    }
    .angled-left-two {
        width: 5em;
        left: 4.5em;
        height: calc(var(--prereq-bar-size) / 2);
        top: -1.75em;
    }
    .angled-left-three {
        width: calc(var(--prereq-bar-size) / 2);
        left: 4.5em;
        height: 1.75em;
        top: -1.75em;
    }
    .angled-right-one {
        width: calc(var(--prereq-bar-size) / 2);
        left: -2.5em;
        height: 1.75em;
        top: -3em;
    }
    .angled-right-two {
        width: 5em;
        left: -2.5em;
        height: calc(var(--prereq-bar-size) / 2);
        top: -1.75em;
    }
    .angled-right-three {
        width: calc(var(--prereq-bar-size) / 2);
        left: 2em;
        height: 1.75em;
        top: -1.75em;
    }
    .side-one {
        width: 2.25em;
        left: -1.25em;
        height: calc(var(--prereq-bar-size) / 2);
        top: 2.25em;
    }
    .vertical-one {
        left: 3.25em;
        height: 3em;
        top: -3em;
        width: calc(var(--prereq-bar-size) / 2);
    }
    .vertical-two {
        left: 3.25em;
        height: 11em;
        top: -11em;
        width: calc(var(--prereq-bar-size) / 2);
    }
}

@media only screen and (min-width: 601px) {
    .skill {
        width: var(--large-node);
        margin: 0 1em;
        border-radius: .5em;
    }
    .empty-node-box {
        height: 8em;
        width: 8em;
    }
    .node-box {
        width: 10em;
        height: 8em;
    }
    .tier {
        height: 8em;
        margin-bottom: 5em;
    }
    .angled-left-one {
        width: var(--prereq-bar-size);
        left: 12.5em;
        height: 2.5em;
        top: -5em;
    }
    .angled-left-two {
        width: 7em;
        left: 6.5em;
        height: var(--prereq-bar-size);
        top: -3em;
    }
    .angled-left-three {
        width: var(--prereq-bar-size);
        left: 6.5em;
        height: 3em;
        top: -3em;
    }
    .angled-right-one {
        width: var(--prereq-bar-size);
        left: -3.5em;
        height: 2.5em;
        top: -5em;
    }
    .angled-right-two {
        width: 7em;
        left: -3.5em;
        height: var(--prereq-bar-size);
        top: -3em;
    }
    .angled-right-three {
        width: var(--prereq-bar-size);
        left: 2.5em;
        height: 3em;
        top: -3em;
    }
    .side-one {
        width: 2.25em;
        left: -1.25em;
        height: var(--prereq-bar-size);
        top: 3.5em;
    }
    .vertical-one {
        left: 4.5em;
        width: var(--prereq-bar-size);
        height: 5em;
        top: -5em;
    }
    .vertical-two {
        left: 4.55em;
        height: 18em;
        top: -18em;
        width: var(--prereq-bar-size);
    }
}

.prereq-bar {
    position: absolute;
    background-color: forestgreen;
}

