<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
    <nav th:replace="common/nav :: common-nav" />
    <main role="main" class="container">
        <div class="row">
            <h1>Completions: <span id="completion-count"></span></h1>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-primary diagnostic">Diagnostic</button>
            </div>
        </div>
        <h3 class="diag-child offset"></h3>

        <h2 class="bar-label">Bar 1<br /> 0:00:10</h2>
        <div id="bar1" class="bar">
            <div id="bar1-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-1-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-1-2"></span>
                </div>
            </div>
        </div>
        <h2 class="bar-label">Bar 2<br /> 0:01:00</h2>
        <div id="bar2" class="bar">
            <div id="bar2-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-2-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-2-2"></span>
                </div>
            </div>
        </div>
        <h2 class="bar-label">Bar 3<br /> 1:00:00</h2>
        <div id="bar3" class="bar">
            <div id="bar3-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-3-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-3-2"></span>
                </div>
            </div>
        </div>

        <div class="diag-output diag-child">
            <h3>Diag Output</h3>
        </div>
        <script type="text/javascript" src="../js/script.js"></script>
    </main>
</body>

