<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
    <nav th:replace="common/nav :: common-nav" />
    <main role="main" class="container">
        <div class="row">
            <h1>Completions: <span id="completion-count"></span></h1>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-primary diagnostic">Diagnostic</button>
            </div>
        </div>
        <h3 class="diag-child offset"></h3>

        <div class="bar-label">
            <h2>Bar 1</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar1-hours"> :
            <input class="time-input minutes" id="bar1-minutes"> :
            <input class="time-input seconds" id="bar1-seconds">
            <input type="checkbox" id="bar1-autocomplete">
            <label for="bar1-autocomplete">Autocomplete </label>
            <input class="times-input" id="bar1-autocomplete-count">
        </div>

        <div id="bar1" class="bar">
            <div id="bar1-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-1-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-1-2"></span>
                </div>
            </div>
        </div>
        <div class="bar-label">
            <h2>Bar 2</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar2-hours"> :
            <input class="time-input minutes" id="bar2-minutes"> :
            <input class="time-input seconds" id="bar2-seconds">
            <input type="checkbox" id="bar2-autocomplete">
            <label for="bar1-autocomplete">Autocomplete </label>
            <input class="times-input" id="bar2-autocomplete-count">
        </div>
        <div id="bar2" class="bar">
            <div id="bar2-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-2-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-2-2"></span>
                </div>
            </div>
        </div>
        <div class="bar-label">
            <h2>Bar 3</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar3-hours"> :
            <input class="time-input minutes" id="bar3-minutes"> :
            <input class="time-input seconds" id="bar3-seconds">
            <input type="checkbox" id="bar3-autocomplete">
            <label for="bar3-autocomplete">Autocomplete </label>
            <input class="times-input" id="bar3-autocomplete-count">
        </div>
        <div id="bar3" class="bar">
            <div id="bar3-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-3-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-3-2"></span>
                </div>
            </div>
        </div>

        <div class="diag-output diag-child">
            <h3>Diag Output</h3>
        </div>
        <script type="text/javascript" src="../js/script.js"></script>
    </main>
</body>

