<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
    <nav th:replace="common/nav :: common-nav" />
    <main role="main" class="container">
        <div th:if="${autoCompletions[0] > 0 || autoCompletions[1] > 0 || autoCompletions[2] > 0}">
            <div class="alert alert-success" role="alert" style="margin-top: 1em;">
                While you were gone:
                <span th:if="${autoCompletions[0] > 0}"><br/>Bar 1 completed
                    <span th:text="${autoCompletions[0]}">0</span>
                    <span th:text="${autoCompletions[0] > 1} ? ' times.' : ' time.'"></span>
                </span>
                <span th:if="${autoCompletions[1] > 0}"><br/>Bar 2 completed
                    <span th:text="${autoCompletions[1]}">0</span>
                    <span th:text="${autoCompletions[1] > 1} ? ' times.' : ' time.'"></span>
                </span>
                <span th:if="${autoCompletions[2] > 0}"><br/>Bar 3 completed
                    <span th:text="${autoCompletions[2]}">0</span>
                    <span th:text="${autoCompletions[2] > 1} ? ' times.' : ' time.'"></span>
                </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="bars-top row">
            <h1>Completions: <span id="completion-count"></span></h1>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-primary diagnostic">Diagnostic</button>
            </div>
        </div>
        <h3 class="diag-child offset"></h3>

        <div class="bar-label">
            <h2>Bar 1</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar1-hours"> :
            <input class="time-input minutes" id="bar1-minutes"> :
            <input class="time-input seconds" id="bar1-seconds">
            <input class="auto-checkbox" type="checkbox" id="bar1-auto">
            <label for="bar1-auto">Auto x</label>
            <input class="times-input" id="bar1-auto-count">
        </div>

        <div id="bar1" class="bar">
            <div id="bar1-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-1-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-1-2"></span>
                </div>
            </div>
        </div>
        <div class="bar-label">
            <h2>Bar 2</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar2-hours"> :
            <input class="time-input minutes" id="bar2-minutes"> :
            <input class="time-input seconds" id="bar2-seconds">
            <input class="auto-checkbox" type="checkbox" id="bar2-auto">
            <label for="bar2-auto">Auto x</label>
            <input class="times-input" id="bar2-auto-count">
        </div>
        <div id="bar2" class="bar">
            <div id="bar2-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-2-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-2-2"></span>
                </div>
            </div>
        </div>
        <div class="bar-label">
            <h2>Bar 3</h2>
            <span>Duration:</span>
            <input class="time-input hours" id="bar3-hours"> :
            <input class="time-input minutes" id="bar3-minutes"> :
            <input class="time-input seconds" id="bar3-seconds">
            <input class="auto-checkbox" type="checkbox" id="bar3-auto">
            <label for="bar3-auto">Auto x</label>
            <input class="times-input" id="bar3-auto-count">
        </div>
        <div id="bar3" class="bar">
            <div id="bar3-progress" class="bar-progress"></div>
            <div class="row diag-child" style="margin:2.5em;">
                <div class="col-6">
                    <strong>Current: </strong>
                    <span id="diag-3-1"></span>
                </div>
                <div class="col-6" style="text-align:right">
                    <strong>Target: </strong>
                    <span id="diag-3-2"></span>
                </div>
            </div>
        </div>

        <div class="diag-output diag-child">
            <h3>Diag Output</h3>
        </div>
        <script type="text/javascript" src="../js/bars.js"></script>
    </main>
</body>

