<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
<nav th:replace="common/nav :: common-nav" />
<main role="main" class="container">

    <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-green-tab" data-toggle="pill" href="#pills-green" role="tab" aria-controls="pills-green" aria-selected="true">Green</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-blue-tab" data-toggle="pill" href="#pills-blue" role="tab" aria-controls="pills-blue" aria-selected="false">Blue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-red-tab" data-toggle="pill" href="#pills-red" role="tab" aria-controls="pills-red" aria-selected="false">Red</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-green" role="tabpanel" aria-labelledby="pills-green-tab">
            <div class="container-green">
                <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                    <div class="tier">
                        <th:block th:each="j: ${#numbers.sequence((i*3)-2, (i*3))}">
                            <div th:if="${not green.?[gridPosition == __${j}__].isEmpty()}" class="node-box">
                                <img th:id="${j}" class="skill skill-green"  th:src="@{img/green_{image}.png(image=${green.?[gridPosition == __${j}__][0].image})}" th:alt="${green.?[gridPosition == __${j}__][0].name}"/>
                                <th:block th:each="k: ${green.?[gridPosition == __${j}__][0].treePrereqs}">
                                    <div th:if="${j == k.prereq.gridPosition + 1}" class="prereq-bar side-one"></div>
                                    <div th:if="${j == k.prereq.gridPosition + 3}" class="prereq-bar vertical-one"></div>
                                    <div th:if="${j == k.prereq.gridPosition + 6}" class="prereq-bar vertical-two"></div>
                                    <th:block th:if="${j == k.prereq.gridPosition + 2}">
                                        <div class="prereq-bar angled-left-one"></div>
                                        <div class="prereq-bar angled-left-two"></div>
                                        <div class="prereq-bar angled-left-three"></div>
                                    </th:block>
                                    <th:block th:if="${j == k.prereq.gridPosition + 4}">
                                        <div class="prereq-bar angled-right-one"></div>
                                        <div class="prereq-bar angled-right-two"></div>
                                        <div class="prereq-bar angled-right-three"></div>
                                    </th:block>
                                </th:block>
                            </div>
                            <div th:if="${green.?[gridPosition == __${j}__].isEmpty()}" class="empty-node-box">

                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
            <div class="skill-detail-pane">
                <th:block th:each="item: ${green}">
                    <div th:id="@{green-skill-detail-{gridPosition}(gridPosition=${item.gridPosition})}" class="skill-detail">
                        <img class="skill-detail-img"  th:src="@{img/green_{image}.png(image=${item.image})}" th:alt="${item.name}"/>
                        <b><span th:text="${item.name}">name</span></b><br/>
                        <div style="height:5em;">
                            <span th:text="${item.description}">description</span>
                        </div>
                        <span class="skill-pane-close"></span>
                        <div th:if="${not item.treePrereqs.isEmpty()}">
                            <span style="margin-right:1em">Requires:</span>
                            <th:block th:each="prereq: ${item.treePrereqs}">
                                <img class="skill-detail-img"  th:src="@{img/green_{image}.png(image=${prereq.image})}" th:alt="${prereq.name}"/>
                                Lv<span th:text="${prereq.PrereqLevel}"></span>
                            </th:block>
                        </div>

                    </div>
                </th:block>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-blue" role="tabpanel" aria-labelledby="pills-blue">
            <p>Blue</p>
        </div>
        <div class="tab-pane fade" id="pills-red" role="tabpanel" aria-labelledby="pills-red">
            <p>Red</p>
        </div>
    </div>


    <script type="text/javascript" src="../js/tree.js"></script>
</main>
</body>
